.popup {
    visibility: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}
