.profile__img {
  max-width: 169px;
  max-height: 128px;
  margin-right: 25px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
}

@media screen and (max-width: 320px) {
  .profile__img {
    margin: 0;
  }
}
