.card__like-button {
  background-image: url(../../../images/like_icon.svg);
  background-color: #fff;
  border: none;
  width: 22px;
  height: 19px;
  margin-left: 30px;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}
