.profile__description {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}

@media screen and (max-width: 320px) {
    .profile__description {
        text-align: center;
        font-size: 14px;
    }
}