.popup__image-caption {
    margin-top: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    max-width: 294px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}