.popup__close-button {
    color: #fff;
    position: absolute;
    top: -43px;
    right: -35px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: none !important;
    background-image: url(../../../images/Close_Icon.svg);
    background-position: center;
}

.popup__close-button:hover {
    opacity: .6;
}

@media screen and (max-width: 496px) {
    .popup__close-button {
        top: -43px;
        right: 3px;
        width: 26px;
        height: 26px;
    }
}